body{
    margin: 0;
}
.main {
    background-color: rgb(139, 13, 13);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.resultContainer{
    display: flex;
    justify-content: space-between;
    width: 50vh;
    margin:20px;
}

.computerResult{
    color: white;
}

.playerResult{
    color: white;
}

.winOverlay{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100%;
    top: 0;
    bottom:0;
    right:0;
    left:0;
    z-index: 2;
}

.winCont {
    background-color: black;
    height: 50%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.winText{
    color: red;
    font-size: 90px;
}

.loseOverlay{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100%;
    top: 0;
    bottom:0;
    right:0;
    left:0;
    z-index: 2;
}

.loseCont{
    background-color: black;
    height: 50%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.loseText{
    color: red;
    font-size: 90px;
}